.Layout .weather-app {
  position: relative;
  border: 1px solid black;
  border-radius: 5%;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  background-blend-mode: multiply, multiply;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 0 0 25px;
}
