.Weather input[value="search"] {
  background-color: #faf9fa;
  border: 1px solid #545454;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  line-height: 0.5;
  border-radius: 1px;
  font-family: "Heebo", sans-serif;
  font-weight: bolder;
}
.Weather input[value="search"]:hover {
  cursor: pointer;
  background-color: #97d0b3;
  color: black;
  font-weight: bolder;
  border: 1px solid #f3efed;
}
